# Rust
/target/
**/target/
Cargo.lock
*.rs.bk

# wasm-pack
libs/tur-solidjs-demo-web/pkg/
libs/tur-solidjs-demo-web/target/

# Node
node_modules/
dist/
*.tsbuildinfo

# Generated TypeScript
js/packages/tur-solidjs/src/generated

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Env
.env
.env.local
